Bonus Project

Tesanca Anggara 洪鳳璘

1. Load the Dataset

command : import pandas as pd for load the data, import matplotlib.pyplot as plt to create plot.

output : pandas and matplotlib.pyplot are imported.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

command : read the monthly_sales data to pd and we named it df.

output : df has already become the imported data as pd.

In [4]:
df = pd.read_csv("/Users/hermawansutrisno/Documents/tesanca's/S2/SEMESTER 1/data science/monthly_sales.csv")

command : to check (rows, columns).

output : it means there are 12 rows and 2 columns.

In [6]:
df.shape

(12, 2)

command : to know every information about the data (column, rows, column names, data type)

output : there are 12 rows, 2 columns, column names (Month and Sales), data type: int64(1), object(1).

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   12 non-null     object
 1   Sales   12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 324.0+ bytes

command : to know the first few rows of data.

output : it shows the first 5 rows and 2 columns of the data.

In [8]:
df.head()

      Month  Sales
0   January   1000
1  February   1500
2     March   1200
3     April   1700
4       May   1600

command : to know the last few rows of data.

output : it shows the last 5 rows and 2 columns of the data.

In [9]:
df.tail()

        Month  Sales
7      August   1900
8   September   2200
9     October   2100
10   November   2300
11   December   2500

2. Data Cleaning

command : to check wether there is missing value or no.

output : there is no missing values on month and sales.

In [11]:
df.isnull().sum()

Month    0
Sales    0
dtype: int64

3. Exploratory Data Analysis (EDA)

command : df.describe(), to describe count(number of no missing values in Sales), mean (total average in Sales), min (lowest values in Sales), max (highest values in sales).

output : count (there are 12 values), mean (the average is 1816.6), min (lowest value is 1000), max(highest value is 2500).

In [12]:
print(df.describe())

             Sales
count    12.000000
mean   1816.666667
std     444.835686
min    1000.000000
25%    1575.000000
50%    1850.000000
75%    2125.000000
max    2500.000000

command : we want to clarify the lowest_sales(min), highest_sales(max), average_sales(mean), total_sales(sum) from our data (df['Sales']).

output : so now we can see all the highest, lowest, average, and total sales clearly.

In [21]:
lowest_sales = df['Sales'].min()
highest_sales = df['Sales'].max()
average_sales = df['Sales'].mean()
total_sales = df['Sales'].sum()

print(f"Lowest_sales  : {lowest_sales}")
print(f"Highest_sales : {highest_sales}")
print(f"Average_sales : {average_sales}")
print(f"Total_sales   : {total_sales}")

Lowest_sales  : 1000
Highest_sales : 2500
Average_sales : 1816.6666666666667
Total_sales   : 21800

4. Data Visualization